<footer class="ts-row ts-serif-clean">
  <div class="ts-col-span6 ts-text-sm">
    Curated with <a href="http://getperiodic.org" target="_blank">Periodic</a>
  </div>
  <div class="ts-col-span6 ts-pull-right ts-text-right ts-text-sm">
    <a href="https://github.com/typesettin/typesettin-style-guide" target="_blank">fork on github</a> | Typesettin &copy;
    <%var d=new Date();%>
      <%- d.getFullYear() %>
  </div>
</footer>
</main>
<!-- /minimal-container -->
<script>
(function(i, s, o, g, r, a, m) {
  i['GoogleAnalyticsObject'] = r;
  i[r] = i[r] || function() {
    (i[r].q = i[r].q || []).push(arguments)
  }, i[r].l = 1 * new Date();
  a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
  a.async = 1;
  a.src = g;
  m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-52892914-6', 'auto');
ga('send', 'pageview');
</script>
</body>

</html>