<header class="ts-position-fixed ts-position-top ts-width-100 ts-z-index-1000 ts-bg-text-primary-color ts-serif-clean">
  <nav class="ts-container ts-position-top">
    <menuitem class="ts-pull-right ts-nav-collapse">
      <div class="ts-nav-collapse-button ts-text-right">
        [-]
      </div>
      <ul id="navlinks" class="ts-nav-collapse-dropdown ts-z-index-1000 ts-bg-text-primary-color ts-position-absolute ts-position-right ts-no-padding ts-list-style-none ts-li-horz-spacing">
        <li><a href="#color">Colors</a>
        </li>
        <li><a href="#typography">Typography</a>
        </li>
        <li><a href="#layout">Layout</a>
        </li>
        <!-- <li><a href="#element">Elements</a> </li> -->
        <li><a href="#responsive">Responsive</a>
        </li>
        <li><a href="#customize">Customize</a>
        </li>
      </ul>
    </menuitem>
    <menuitem class="ts-pull-left">
      <ul class="ts-ul-inline-block ts-no-padding">
        <li><a href="#top" class="ts-text-xl ts-text-bold">Stylie</a>
        </li>
      </ul>
    </menuitem>
  </nav>
</header>