<html class="ts">

<head>
  <title>Typesettin Style Guide!</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/typesettin-style-guide.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <section class="ts-text-container">
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
  </section>
  <section class="ts-container">
    <h1>h1. Bootstrap heading
      <small>Secondary text</small>
    </h1>
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <blockquote>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    </blockquote>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
  </section>
  <section class="ts-container">
    <h2>h2. Bootstrap heading
      <small>Secondary text</small>
    </h2>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
  </section>
  <section class="ts-container">
    <h3>h3. Bootstrap heading
      <small>Secondary text</small>
    </h3>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
  </section>
  <section class="ts-text-container">
    <h4>h4. Bootstrap heading
      <small>Secondary text</small>
    </h4>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <ol>
      <li>
        <p>The four most im­por­tant ty­po­graphic choices you make in any doc­u­ment are <a href="point-size.html" class="xref">point size</a>, <a href="line-spacing.html" class="xref">line spac­ing</a>, <a href="line-length.html" class="xref">line length</a>, and font (pas­sim), be­cause those choices de­ter­mine how the <a href="body-text.html" class="xref">body text</a>
          <span pollen="no-hyphens">looks.</span>
        </p>
      </li>
      <li>
        <p><a href="point-size.html" class="xref">Point size</a> should be 10–12 points in printed doc­u­ments, 15-25 pix­els on the&nbsp;
          <span pollen="no-hyphens">web.</span>
        </p>
      </li>
      <li>
        <p><a href="line-spacing.html" class="xref">Line spac­ing</a> should be 120–145% of the point&nbsp;
          <span pollen="no-hyphens">size.</span>
        </p>
      </li>
      <li>
        <p>The av­er­age <a href="line-length.html" class="xref">line length</a> should be 45–90 char­ac­ters (in­clud­ing
          <span pollen="no-hyphens">spaces).</span>
        </p>
      </li>
      <li>
        <p>The eas­i­est and most vis­i­ble im­prove­ment you can make to your ty­pog­ra­phy is to use a pro­fes­sional font, like those found in <a href="font-recommendations.html" class="xref">font rec­om­men­da­tions</a>.</p>
      </li>
      <li>
        <p>Avoid <a href="goofy-fonts.html" class="xref">goofy fonts</a>, <a href="monospaced-fonts.html" class="xref">mono­spaced fonts</a>, and <a href="system-fonts.html" class="xref">sys­tem fonts</a>, es­pe­cially <a href="times-new-roman.html" class="xref">Times New Ro­man</a> and
          <span pollen="no-hyphens">Arial.</span>
        </p>
      </li>
    </ol>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
  </section>
  <section class="ts-container">
    <h5>h5. Bootstrap heading
      <small>Secondary text</small>
    </h5>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <ol>
      <li>
        <p>The four most im­por­tant ty­po­graphic choices you make in any doc­u­ment are <a href="point-size.html" class="xref">point size</a>, <a href="line-spacing.html" class="xref">line spac­ing</a>, <a href="line-length.html" class="xref">line length</a>, and font (pas­sim), be­cause those choices de­ter­mine how the <a href="body-text.html" class="xref">body text</a>
          <span pollen="no-hyphens">looks.</span>
        </p>
      </li>
      <li>
        <p><a href="point-size.html" class="xref">Point size</a> should be 10–12 points in printed doc­u­ments, 15-25 pix­els on the&nbsp;
          <span pollen="no-hyphens">web.</span>
        </p>
      </li>
      <li>
        <p><a href="line-spacing.html" class="xref">Line spac­ing</a> should be 120–145% of the point&nbsp;
          <span pollen="no-hyphens">size.</span>
        </p>
      </li>
      <li>
        <p>The av­er­age <a href="line-length.html" class="xref">line length</a> should be 45–90 char­ac­ters (in­clud­ing
          <span pollen="no-hyphens">spaces).</span>
        </p>
      </li>
      <li>
        <p>The eas­i­est and most vis­i­ble im­prove­ment you can make to your ty­pog­ra­phy is to use a pro­fes­sional font, like those found in <a href="font-recommendations.html" class="xref">font rec­om­men­da­tions</a>.</p>
      </li>
      <li>
        <p>Avoid <a href="goofy-fonts.html" class="xref">goofy fonts</a>, <a href="monospaced-fonts.html" class="xref">mono­spaced fonts</a>, and <a href="system-fonts.html" class="xref">sys­tem fonts</a>, es­pe­cially <a href="times-new-roman.html" class="xref">Times New Ro­man</a> and
          <span pollen="no-hyphens">Arial.</span>
        </p>
      </li>
    </ol>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
  </section>
  <section class="ts-container">
    <h6>h6. Bootstrap heading
      <small>Secondary text</small>
    </h6>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
  </section>
  <script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-52892914-6', 'auto');
  ga('send', 'pageview');
  </script>
</body>

</html>