<a name="#color"></a>
<article class="ts-text-container ts-height-100">
  <section class="ts-text-container">
    <h2>Colors
      <small>Standard Palette</small>
    </h2>
    <p>There are eight basic colors, they can be customized by modifying
      <span class="ts-code">variables.less</span>
    </p>
  </section>
  <section class="ts-text-container">
    <table class="ts ts-width-100 ts-text-center">
      <tr>
        <td class="ts-bg-dark-primary-color">Dark Primary Color</td>
        <td class="ts-bg-primary-color">Primary Color</td>
        <td class="ts-bg-light-primary-color">Light Primary Color</td>
        <td class="ts-bg-text-primary-color">Text Primary Color</td>
      </tr>
      <tr>
        <td class="ts-bg-accent-color">Accent Color</td>
        <td class="ts-bg-primary-text-color ts-text-text-primary-color">Primary Text Color</td>
        <td class="ts-bg-secondary-text-color">Secondary Text Color</td>
        <td class="ts-bg-divider-text-color">Divider Color</td>
      </tr>
    </table>
  </section>
  <section>
    <h3>Borders</h3>
    <p>
      <span class="ts-border-dark-primary-color ts-border-solid-small ts-small-padding ts-small-margin">Dark Primary Color</span>

      <span class="ts-border-primary-color ts-border-solid-small ts-small-padding ts-small-margin"> Primary Color</span>

      <span class="ts-border-light-primary-color ts-border-solid-small ts-small-padding ts-small-margin">Light Primary Color</span>

      <span class="ts-border-text-primary-color ts-border-solid-small ts-small-padding ts-small-margin ts-bg-primary-text-color ts-text-text-primary-color">Text Primary Color</span>

    </p>
    <h3>Background</h3>
    <h3>Text</h3>
  </section>
</article>
<hr>