<a name="#color"></a>
<article class="ts-text-container">
  <section class="ts-text-container">
    <h2>Colors
      <small>Standard Palette</small>
    </h2>
    <p>There are eight basic colors, they can be customized by modifying
      <span class="ts-code">variables.less</span>
    </p>
  </section>
  <section class="ts-text-container">
    <table class="ts ts-width-100 ts-text-center">
      <tr>
        <td class="ts-bg-dark-primary-color">Dark Primary Color</td>
        <td class="ts-bg-primary-color">Primary Color</td>
        <td class="ts-bg-light-primary-color">Light Primary Color</td>
        <td class="ts-bg-text-primary-color">Text Primary Color</td>
      </tr>
      <tr>
        <td class="ts-bg-accent-color">Accent Color</td>
        <td class="ts-bg-primary-text-color ts-text-text-primary-color">Primary Text Color</td>
        <td class="ts-bg-secondary-text-color">Secondary Text Color</td>
        <td class="ts-bg-divider-text-color">Divider Color</td>
      </tr>
    </table>
  </section>
  <section>
    <h3>Borders</h3>
    <p>
      <span class="ts-border-dark-primary-color example-color-border">.ts-border-dark-primary-color</span>

      <span class="ts-border-primary-color example-color-border"> .ts-border-primary-color</span>

      <span class="ts-border-light-primary-color example-color-border">.ts-border-light-primary-color</span>

      <span class="ts-border-text-primary-color example-color-border ts-bg-primary-text-color ts-text-text-primary-color">.ts-border-text-primary-color</span>

      <span class="ts-border-accent-color example-color-border">.ts-border-accent-color</span>

      <span class="ts-border-primary-text-color example-color-border"> .ts-border-primary-text-color</span>

      <span class="ts-border-secondary-text-color example-color-border">.ts-border-secondary-text-color</span>
      <span class="ts-border-divider-text-color example-color-border">.ts-border-divider-text-color</span>

    </p>
    <h3>Backgrounds</h3>
    <p>
      <span class="ts-bg-dark-primary-color example-color-bg">.ts-bg-dark-primary-color</span>

      <span class="ts-bg-primary-color example-color-bg"> .ts-bg-primary-color</span>

      <span class="ts-bg-light-primary-color example-color-bg">.ts-bg-light-primary-color</span>

      <span class="ts-bg-text-primary-color example-color-bg ">.ts-bg-text-primary-color</span>

      <span class="ts-bg-accent-color example-color-bg">.ts-bg-accent-color</span>

      <span class="ts-bg-primary-text-color example-color-bg ts-text-text-primary-color"> .ts-bg-primary-text-color</span>

      <span class="ts-bg-secondary-text-color example-color-bg">.ts-bg-secondary-text-color</span>
      <span class="ts-bg-divider-text-color example-color-bg">.ts-bg-divider-text-color</span>

    </p>
    <h3>Text</h3>
    <p>
      <span class="ts-text-dark-primary-color example-color-bg">.ts-text-dark-primary-color</span>

      <span class="ts-text-primary-color example-color-bg"> .ts-text-primary-color</span>

      <span class="ts-text-light-primary-color example-color-bg">.ts-text-light-primary-color</span>

      <span class="ts-text-text-primary-color example-color-bg ts-bg-primary-text-color">.ts-text-text-primary-color</span>

      <span class="ts-text-accent-color example-color-bg">.ts-text-accent-color</span>

      <span class="ts-text-primary-text-color example-color-bg"> .ts-text-primary-text-color</span>

      <span class="ts-text-secondary-text-color example-color-bg">.ts-text-secondary-text-color</span>
      <span class="ts-text-divider-text-color example-color-bg">.ts-text-divider-text-color</span>

    </p>
  </section>
</article>
<hr>