<h3>Containers</h3>
<h6>Height containers</h6>
<div class="ts-row ts-border-solid-micro ts-container-margin-lg ts-text-center ts-text-sm ts-bg-primary-text-color">
  <div class="ts-bg-text-primary-color ts-container-margin-xx">
    .ts-container-margin-xx
  </div>
  <hr class="ts-no-margin">
  <div class="ts-bg-text-primary-color ts-container-margin-xl">
    .ts-container-margin-xl
  </div>
  <hr class="ts-no-margin">
  <div class="ts-bg-text-primary-color ts-container-margin-lg">
    .ts-container-margin-lg
  </div>
  <hr class="ts-no-margin">
  <div class="ts-bg-text-primary-color ts-container-margin-md">
    .ts-container-margin-md
  </div>
  <hr class="ts-no-margin">
  <div class="ts-bg-text-primary-color ts-container-margin-sm">
    .ts-container-margin-sm
  </div>
  <hr class="ts-no-margin">
  <div class="ts-bg-text-primary-color ts-container-margin-xs">
    .ts-container-margin-xs
  </div>
</div>
<h6>Width containers</h6>
<div class="ts-row ts-border-solid-micro ts-container-margin-lg ts-text-center ts-text-sm ts-bg-primary-text-color">
  <div class="ts-bg-text-primary-color ts-container-margin-md ts-container">
    .ts-container
  </div>
  <hr class="ts-no-margin">
  <div class="ts-bg-text-primary-color ts-container-margin-md ts-text-container">
    .ts-text-container
  </div>
  <hr class="ts-no-margin">
  <div class="ts-bg-text-primary-color ts-container-margin-md ts-container-margin-auto ts-width-25">
    .ts-container-margin-auto
  </div>
</div>
<h6>Content containers</h6>
<div class="ts-row ts-border-solid-micro ts-container-margin-lg ts-text-center ts-text-sm ts-bg-primary-text-color">
  <div class="ts-bg-text-primary-color ts-container-margin-md ts-container ts-no-x-overflow  ts-height-10">
    .ts-no-x-overflow
    <hr>
    <ul class="ts-text-left">
      <li>you can also use</li>
      <li>
        <strong>.ts-no-y-overflow:</strong> for preventing y-overflow</li>
      <li>
        <strong>.ts-no-overflow:</strong> for preventing all overflows</li>
    </ul>
  </div>
  <hr class="ts-no-margin">
  <div class="ts-bg-text-primary-color ts-container-margin-md ts-text-container ts-md-spacing-padding">
    .ts-md-spacing-padding
  </div>
  <hr class="ts-no-margin">
  <div class="ts-bg-text-primary-color ts-container-margin-md ts-text-container ts-xl-spacing-margin" style="margin-left:auto; margin-right:auto;">
    .ts-xl-spacing-margin
  </div>
</div>