<a name="#layout"></a>
<article class="ts-text-container ts-container-margin-xl">
  <section>
    <h2>Layout
      <small>Grid System, and positioning</small>
    </h2>
    <p>There's a basic 12 column grid that's percent based. Rows and columns can be nested, and the box sizing property is set to:
      <span class="ts-code">border-box</span>
    </p>
  </section>
  <section>
    <% include _layout_grid %>
      <section>
        nested grids
      </section>
      <section>
        <% include _layout_position %>
          <% include _layout_box %>
            <% include _layout_heightwidth %>
              <% include _layout_containers %>
      </section>
</article>
<hr>