<h3>Positioning</h3>
<h6>Floats</h6>
<p>HTML elements can use short hand classes to define the css float property</p>
<div class="example-border ts-container-margin-lg ts-row">
  <span class="ts-bg-light-primary-color example-color-bg ts-pull-left ts-border-solid-micro">.ts-pull-left / .ts-float-left</span>
</div>
<div class="example-border ts-container-margin-lg ts-row">
  <span class="ts-bg-light-primary-color example-color-bg ts-pull-right ts-border-solid-micro">.ts-pull-right / .ts-float-right</span>
</div>
<p>HTML elements can also use short hand classes to define the css clear property</p>
<ul class="ts-text-sm">
  <li>.ts-clear-left - clear left</li>
  <li>.ts-clear-right - clear right</li>
  <li>.ts-clear-both - clear both</li>
</ul>
<h6>Z-index</h6>
<div class="example-border ts-container-margin-lg ts-row  ts-position-relative ts-text-right">
  <span class="ts-bg-divider-text-color example-color-bg ts-z-index-1 ts-position-absolute ts-width-90 ts-position-left ts-shadow ts-border-solid-micro ">.ts-z-index-1</span>
  <span class="ts-bg-light-primary-color example-color-bg ts-z-index-10 ts-position-absolute ts-width-66 ts-position-left ts-shadow ts-border-solid-micro">.ts-z-index-10</span>
  <span class="ts-bg-primary-color example-color-bg ts-z-index-100 ts-position-absolute ts-width-50 ts-position-left ts-shadow ts-border-solid-micro">.ts-z-index-100</span>
  <span class="ts-bg-accent-color example-color-bg ts-z-index-1000 ts-position-absolute ts-width-25 ts-position-left ts-shadow ts-border-solid-micro">.ts-z-index-1000</span>
  <p>
    &nbsp;
  </p>
</div>
<p>HTML elements can use short hand classes to define the four preset css z-index properties</p>
<ul class="ts-text-sm">
  <li>.ts-z-index-1 - z-index:1</li>
  <li>.ts-z-index-10 - z-index:10</li>
  <li>.ts-z-index-1000 - z-index:1000</li>
  <li>.ts-z-index-10000 - z-index:10000</li>
</ul>
<h6>Positions</h6>
<p>The respective CSS position properties have appropriate short-handed class names</p>
<ul class="ts-text-sm">
  <li>.ts-position-absolute</li>
  <li>.ts-position-fixed</li>
  <li>.ts-position-relative</li>
  <li>.ts-display-inline-block</li>
  <li>.ts-display-block</li>
</ul>
<p>There are also short hand classes to absolutely postion elements</p>
<ul class="ts-text-sm">
  <li>.ts-position-top</li>
  <li>.ts-position-left</li>
  <li>.ts-position-right</li>
  <li>.ts-position-bottom</li>
</ul>
<p>There's one special position helper class to position elements vertically in the center of a parent element (The parent element must be positioned relatively).</p>
<div class="ts-row ts-border-solid-micro ts-container-margin-lg ts-text-center ts-text-sm ts-bg-primary-text-color ts-height-33 ts-position-relative">
  <div class="ts-bg-text-primary-color ts-padding-xl ts-vertical-center">
    .ts-vertical-center
  </div>

</div>