<h3>Containers</h3>
<div class="ts-row ts-border-solid-micro ts-container-margin-lg ts-text-center ts-text-sm ts-bg-primary-text-color">
  <div class="ts-bg-text-primary-color ts-container-margin-xx">
    .ts-container-margin-xx
  </div>
  <hr class="ts-no-margin">
  <div class="ts-bg-text-primary-color ts-container-margin-xl">
    .ts-container-margin-xl
  </div>
  <hr class="ts-no-margin">
  <div class="ts-bg-text-primary-color ts-container-margin-lg">
    .ts-container-margin-lg
  </div>
  <hr class="ts-no-margin">
  <div class="ts-bg-text-primary-color ts-container-margin-md">
    .ts-container-margin-md
  </div>
  <hr class="ts-no-margin">
  <div class="ts-bg-text-primary-color ts-container-margin-sm">
    .ts-container-margin-sm
  </div>
  <hr class="ts-no-margin">
  <div class="ts-bg-text-primary-color ts-container-margin-xs">
    .ts-container-margin-xs
  </div>
</div>
ts-container ts-text-container ts-container-margin-xx:xs overflows