@import "fonts.less";
@import "color.less";	
body{
	font-size:20px;
	font-family: garamond,Georgia,serif;
	color: @textcolor;
}
.ts{
	@import "normalize.less";	
	@import "grid.less";	
	@import "typography.less";	
	line-height: 2.25em;
}
