//colors
@darkPrimaryColor:   #455A64;
@primaryColor:       #607D8B;
@lightPrimaryColor:  #CFD8DC;
@textPrimaryColor:   #FFFFFF;
@accentColor:        #03A9F4;
@primaryTextColor:   #212121;
@secondaryTextColor: #727272;
@dividerColor:       #B6B6B6;

//typography
@heading-size:3em; 
@maxtextwidth:				36em;

//page em size
@sizexs:							.1em;
@sizesm:							.25em;
@sizemd:							.5em;
@sizelg:							1em;
@sizexl:							3em;
@sizexx:							5em;
//page percent size
@percentxs:							70%;
@percentsm:							85%;
@percentmd:							100%;
@percentlg:							115%;
@percentxl:							130%;
@percentxx:							150%;

//responsive element size
@navcollaspe: 40em;
@assetheight: 32em;

//media query screen
@screenxs:20em;
@screensm:29em;
@screenmd:29em;
@screenlg:50em;
@screenxl:50em;
@screenxx:50em;

//media query heading
@headingxs:.4;
@headingsm:.6;
@headingmd:1.2;
@headinglg:1.2;
@headingxl:1.2;
@headingxx:1.2;